@model IEnumerable<Microsoft.Azure.ActiveDirectory.GraphClient.IApplication>

@{
    ViewBag.Title = "title";
}

<h2>Applications</h2>

<ul>
    @foreach (var app in Model)
    {
        <li>@Html.ActionLink(app.DisplayName, "Application", new { applicationId = app.ObjectId })</li>
    }
</ul>
